.cloud {
    Color:aqua;
}
h1 {
    color:white;
    background-color: black;
}
h2 {
    color:white;
    background-color: blueviolet;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}
h3 {
    color: black;
    background-color:lightblue;
    text-decoration: underline;
    text-align: right;
}